**/nbproject/private
**/build
**/dist
**/nbproject/Makefile*
**/nbproject/Package*
**/x64
**/.vs
**/*.user
.metadata
**/Release
**/Debug
**/bin
**/obj
/tools/msh/diy-efis.reg
/libs/krypton/x64/Release/krypton.tlog
/raspberry-pi/VC/diy-efis/bin/x64/Release
/tools/ion/x64/Release/ion.tlog
/tools/msh/x64/Release/msh.tlog
/tools/muon/x64/Release/muon.tlog
/tools/neutron/x64/Release/neutron.tlog
/tools/photon/x64/Release/photon.tlog
/tools/proton/x64/Release/proton.tlog
/libs/atom16/build/debug_dsPIC33EP256GP502/debug
/libs/atom16/dist/debug_dsPIC33EP256GP502/debug
/pic/pihat/build/debug_dsPIC33EP256GP502/debug
/pic/pihat/dist/debug_dsPIC33EP256GP502/debug
*.suo
*.lib
*.db
*.ipch
*.obj
*.pdb
*.user
*.log
*.recipe
*.ods#
/packages
/framework/emulator/fs/*.app
/tools/vscode/out
/tools/vscode/node_modules
/framework/assemblies/CanFly.DiyEfis.exe
/framework/assemblies/Kotuku.Efi.exe
/framework/assemblies/Kotuku.Pfd.exe
