/dspic-lib/nbproject/private/
/dspic33f-lib/nbproject/private/
/ahrs/nbproject/private/
/edu/nbproject/private/
/scan/nbproject/private/
/dspic-lib/build/debug-pic33/
/dspic-lib/dist/debug-pic33/
/dspic33f-lib/build/debug-pic33/
/dspic33f-lib/dist/debug-pic33/
/ahrs/build/debug-pic33/
/ahrs/dist/debug-pic33/
/ion/nbproject/private/
/diyefispic32mz/firmware/pfd.X/nbproject/private/
/ion/build/default/
.metadata
/X11-efis/Debug-X11
/ahrs/build/release-pic33/
/dspic-lib/build/release-pic33/
/dspic-lib/dist/release-pic33/
/ahrs/dist/release-pic33/
/raspberry-pi/nbproject/private/
/scan/build/Release/
/scan/dist/Release/
/scan/build/Debug/
/scan/dist/Debug/
/dspic33f-lib/dist/release-pic33/
/dspic33f-lib/build/release-pic33/
/edu/build/Release/
/edu/dist/Release/
/dspic33f-lib/build/release-pic33EPXXXGP506/
/dspic33f-lib/dist/debug-pic33EPXXXGP504/
/dspic33f-lib/build/debug-pic33EPXXXGP504/
/dspic-lib/dist/release-pic33EPXXXGP506/
/dspic33f-lib/dist/release-pic33EPXXXGP506/
/dspic-lib/build/release-pic33EPXXXGP506/
/dspic-lib/build/debug-pic33EPXXXGP504/
/dspic-lib/dist/debug-pic33EPXXXGP504/
/raspberry-pi/build/Debug-PIC33/
/dspic-lib/build/release-pic33EPXXXGP504/
/dspic33f-lib/dist/release-pic33EPXXXGP504/
/dspic33f-lib/build/release-pic33EPXXXGP504/
/dspic-lib/dist/release-pic33EPXXXGP504/
/widgets/errors.h
/widgets/raster_screen.h
/widgets/raster_screen.cpp
/libs/proton/nbproject/private
/libs/photon/polypolygon.c
/libs/gluon/debug
/libs/krypton/x64/Debug
/libs/krypton/krypton.vcxproj.user
/tools/gluon/x64/Debug
/tools/gluon/gluon.vcxproj.user
/tools/ion/x64/Debug
/tools/ion/ion.vcxproj.user
/tools/msh/.vs/msh/v15
/tools/msh/x64/Debug
/tools/muon/x64/Debug
/tools/muon/muon.vcxproj.user
/tools/neutron/x64/Debug
/tools/neutron/neutron.vcxproj.user
/tools/msh/msh.vcxproj.user
/tools/photon/x64/Debug
/tools/photon/photon.vcxproj.user
/tools/proton/x64/Debug
/tools/proton/proton.vcxproj.user
