/dspic-lib/nbproject/private/
/dspic33f-lib/nbproject/private/
/ahrs/nbproject/private/
/edu/nbproject/private/
/scan/nbproject/private/
/dspic-lib/build/debug-pic33/
/dspic-lib/dist/debug-pic33/
/dspic33f-lib/build/debug-pic33/
/dspic33f-lib/dist/debug-pic33/
/ahrs/build/debug-pic33/
/ahrs/dist/debug-pic33/
/ion/nbproject/private/
/diyefispic32mz/firmware/pfd.X/nbproject/private/
/ion/build/default/
.metadata
/X11-efis/Debug-X11
/ahrs/build/release-pic33/
/dspic-lib/build/release-pic33/
/dspic-lib/dist/release-pic33/
/ahrs/dist/release-pic33/
/raspberry-pi/nbproject/private/
/scan/build/Release/
/scan/dist/Release/
/scan/build/Debug/
/scan/dist/Debug/
/dspic33f-lib/dist/release-pic33/
/dspic33f-lib/build/release-pic33/
/edu/build/Release/
/edu/dist/Release/
/dspic33f-lib/build/release-pic33EPXXXGP506/
/dspic33f-lib/dist/debug-pic33EPXXXGP504/
/dspic33f-lib/build/debug-pic33EPXXXGP504/
/dspic-lib/dist/release-pic33EPXXXGP506/
/dspic33f-lib/dist/release-pic33EPXXXGP506/
/dspic-lib/build/release-pic33EPXXXGP506/
/dspic-lib/build/debug-pic33EPXXXGP504/
/dspic-lib/dist/debug-pic33EPXXXGP504/
/raspberry-pi/build/Debug-PIC33/
/dspic-lib/build/release-pic33EPXXXGP504/
/dspic33f-lib/dist/release-pic33EPXXXGP504/
/dspic33f-lib/build/release-pic33EPXXXGP504/
/dspic-lib/dist/release-pic33EPXXXGP504/
/widgets/errors.h
/widgets/raster_screen.h
/widgets/raster_screen.cpp
/libs/proton/nbproject/private
/libs/photon/polypolygon.c
/libs/gluon/debug
/libs/krypton/x64/Debug
/libs/krypton/krypton.vcxproj.user
/tools/gluon/x64/Debug
/tools/gluon/gluon.vcxproj.user
/tools/ion/x64/Debug
/tools/ion/ion.vcxproj.user
/tools/msh/.vs/msh/v15
/tools/msh/x64/Debug
/tools/muon/x64/Debug
/tools/muon/muon.vcxproj.user
/tools/neutron/x64/Debug
/tools/neutron/neutron.vcxproj.user
/tools/msh/msh.vcxproj.user
/tools/photon/x64/Debug
/tools/photon/photon.vcxproj.user
/tools/proton/x64/Debug
/tools/proton/proton.vcxproj.user
/.vs/diy-efis/v15
/libs/atom/build
/libs/atom/dist
/libs/atom/nbproject/private
/libs/atom/nbproject
/libs/atom16/build/debug_dsPIC33EP256GP502/production
/libs/atom32/nbproject
/libs/atom32/dist/debug_pic32MZ2048EFH064/production
/libs/atom32/build/debug_pic32MZ2048EFH064/production
/libs/atom16/nbproject
/libs/atom16/dist/debug_dsPIC33EP256GP502/production
/libs/ion/build/debug_pic32MZ2048EFH064/production
/libs/ion/build/release_pic32MZ2048EFH064/production
/libs/ion/nbproject
/libs/ion/dist
/libs/muon/build
/libs/muon/dist
/libs/muon/nbproject/private
/libs/muon/nbproject/Package-release_pic32MZ2048EFH064.bash
/libs/muon/nbproject/Package-debug_pic32MZ2048EFH064.bash
/libs/muon/nbproject/Package-debug_dsPIC33EP512GP504.bash
/libs/muon/nbproject/Makefile-variables.mk
/libs/muon/nbproject/Makefile-release_pic32MZ2048EFH064.mk
/libs/muon/nbproject/Makefile-local-release_pic32MZ2048EFH064.mk
/libs/muon/nbproject/Makefile-local-debug_pic32MZ2048EFH064.mk
/libs/muon/nbproject/Makefile-local-debug_dsPIC33EP512GP504.mk
/libs/muon/nbproject/Makefile-impl.mk
/libs/muon/nbproject/Makefile-genesis.properties
/libs/muon/nbproject/Makefile-debug_pic32MZ2048EFH064.mk
/libs/muon/nbproject/Makefile-debug_dsPIC33EP512GP504.mk
/libs/neutron/nbproject/private
/libs/neutron/nbproject/Package-release_pic32MZ2048EFH064.bash
/libs/neutron/nbproject/Package-debug_pic33EP512GP504.bash
/libs/neutron/nbproject/Package-debug_pic33EP256GP502.bash
/libs/neutron/nbproject/Package-debug_pic32MZ2048EFH064.bash
/libs/neutron/nbproject/Makefile-variables.mk
/libs/neutron/nbproject/Makefile-release_pic32MZ2048EFH064.mk
/libs/neutron/nbproject/Makefile-local-release_pic32MZ2048EFH064.mk
/libs/neutron/nbproject/Makefile-local-debug_pic33EP512GP504.mk
/libs/neutron/nbproject/Makefile-local-debug_pic33EP256GP502.mk
/libs/neutron/nbproject/Makefile-local-debug_pic32MZ2048EFH064.mk
/libs/neutron/nbproject/Makefile-impl.mk
/libs/neutron/nbproject/Makefile-genesis.properties
/libs/neutron/nbproject/Makefile-debug_pic33EP512GP504.mk
/libs/neutron/nbproject/Makefile-debug_pic33EP256GP502.mk
/libs/neutron/nbproject/Makefile-debug_pic32MZ2048EFH064.mk
/pic/ahrs/build/debug_pic32MZ2048EFH064/production
/pic/ahrs/dist/debug_pic32MZ2048EFH064/production
/pic/ahrs/nbproject/private
/pic/ahrs/nbproject/Package-debug_pic32MZ2048EFH064.bash
/pic/ahrs/nbproject/Makefile-variables.mk
/pic/ahrs/nbproject/Makefile-local-debug_pic32MZ2048EFH064.mk
/pic/ahrs/nbproject/Makefile-impl.mk
/pic/ahrs/nbproject/Makefile-genesis.properties
/pic/ahrs/nbproject/Makefile-debug_pic32MZ2048EFH064.mk
/pic/CM3/dist/debug_dsPIC33EP256GP502/production
/pic/CM3/build/debug_dsPIC33EP256GP502/production
/pic/CM3/nbproject/private
/pic/CM3/nbproject/Package-debug_dsPIC33EP256GP502.bash
/pic/CM3/nbproject/Makefile-variables.mk
/pic/CM3/nbproject/Makefile-local-debug_dsPIC33EP256GP502.mk
/pic/CM3/nbproject/Makefile-impl.mk
/pic/CM3/nbproject/Makefile-genesis.properties
/pic/CM3/nbproject/Makefile-debug_dsPIC33EP256GP502.mk
/pic/edu/nbproject/private
/pic/edu/dist/debug_pic32MZ2048EFH064/production
/pic/edu/build/debug_pic32MZ2048EFH064/production
/pic/edu/nbproject/Package-release_pic32MZ2048EFH064.bash
/pic/edu/nbproject/Package-debug_pic32MZ2048EFH064.bash
/pic/edu/nbproject/Makefile-variables.mk
/pic/edu/nbproject/Makefile-release_pic32MZ2048EFH064.mk
/pic/edu/nbproject/Makefile-local-release_pic32MZ2048EFH064.mk
/pic/edu/nbproject/Makefile-local-debug_pic32MZ2048EFH064.mk
/pic/edu/nbproject/Makefile-impl.mk
/pic/edu/nbproject/Makefile-genesis.properties
/pic/edu/nbproject/Makefile-debug_pic32MZ2048EFH064.mk
/pic/pihat/dist/debug_dsPIC33EP256GP502/production
/pic/pihat/build/debug_dsPIC33EP256GP502/production
/pic/pihat/nbproject/private
/pic/pihat/nbproject/Package-debug_dsPIC33EP256GP502.bash
/pic/pihat/nbproject/Makefile-variables.mk
/pic/pihat/nbproject/Makefile-local-debug_dsPIC33EP256GP502.mk
/pic/pihat/nbproject/Makefile-impl.mk
/pic/pihat/nbproject/Makefile-genesis.properties
/pic/pihat/nbproject/Makefile-debug_dsPIC33EP256GP502.mk
/pic/usb/nbproject/private
/pic/usb/dist/debug_dspic33ep256gp502/production
/pic/usb/build/debug_dspic33ep256gp502/production
/pic/usb/nbproject/Package-debug_dspic33ep256gp502.bash
/pic/usb/nbproject/Makefile-variables.mk
/pic/usb/nbproject/Makefile-local-debug_dspic33ep256gp502.mk
/pic/usb/nbproject/Makefile-impl.mk
/pic/usb/nbproject/Makefile-genesis.properties
/pic/usb/nbproject/Makefile-debug_dspic33ep256gp502.mk
/raspberry-pi/VC/diy-efis/bin/x64/Debug
/raspberry-pi/VC/diy-efis/*.user
/x64/Debug/*.lib
/x64/Debug/*.pdb
/x64/Debug/*.exe
/x64/Debug/*.ilk
/raspberry-pi/VC/diy-efis/bin/ARM/Debug
/raspberry-pi/VC/diy-efis/obj
/libs/krypton/Release/krypton.tlog
/tools/ion/Release/ion.tlog
/tools/msh/Release/msh.tlog
/tools/muon/Release/muon.tlog
/tools/neutron/Release/neutron.tlog
/tools/photon/Release/photon.tlog
/tools/proton/Release/proton.tlog
